{% extends 'base.html' %}

{% block content %}

<section id="about">
<div class="row dark-overlay">

    <div class="container">
        <div class="about">
            <h1>Jammin Sites</h1>
            <p>I built this site with the Django Framework.  I have been working on it for a couple years, I got distracted by PHP and Node JS for a year at least in the middle of that endeavor.  So my total time working on learning this while working full time is 3 years this July. I hope to discuss web development of all kinds here, I settled on Django, but I like all of them, the whole concept is amazing to me.</p>
        </div>
    </div>
</div>
</section>
{% endblock content %}